<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Hero</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let hero of heroes">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{heroes.hero}}</h4>
                <p class="list-group-item-text">{{heroes.race}}</p>
                <p class="list-group-item-text">{{heroes.power}}</p>
                <p class="list-group-item-text">{{heroes.description}}</p>
            </div>
            <span class="pull-right">
                <img [src]="heroes.imagePath" alt="{{heroes.name}}" class="img-responsive" style="max-height: 50px;">
            </span>
        </a>
    </div>
</div>
